* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

*,*::after,*::before {
    box-sizing: inherit;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000;
    height: 100vh;
}

section {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

article {
    padding: 1rem;
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    overflow: hidden;
    grid-template-areas: 
    "title svg"
    "p svg"
    "button svg"
    ;
    & h2 {
        grid-area: title;
    }
    & p {
        grid-area: p;
    }
    & button {
        grid-area: button;
        all: unset;
        border-radius: 5px;
        background-color: #fff;
        cursor: pointer;
    }
    & svg {
        grid-area: svg;
        height: 100%;
        background-color: aqua;
    }
}

::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none
}

.hidden {
    display: none;
}